.enter-info-box {
  background-color: #638F77;
  border-radius: 10px;
  width: 900px;
  min-height: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friend-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  width: 100%;
}

.friend-input {
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  width: 250px;
  text-align: center;
}

.instruction-text {
  color: white;
  font-size: 20px;
  text-align: center;
}

.label-text {
  color: white;
  font-size: 20px;
}

.update-button {
  background-color: white;
  color: #638F77;
  font-weight: bold;
  width: 45%;
  padding: 10px 40px;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-text {
  color: white;
  text-align: center;
}