body {
  margin: 0;
  padding-bottom: 70px; /* space for footer */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #638F77;
    padding: 15px 0;
    color: white;
    z-index: 1000;
}