.enter-info-box {
    background-color: #638F77;
    font-size: 18px;
    border-radius: 10px;
    height: 400px;
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center;      
}

.enter-info-small-box{
    color: black;
    height: 30px;
}
.update-button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.update-personal-info-title {
    margin-top: 0px;
    color: black;
}